<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Assignment 6A</title>
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
<div class="page-content">
    <div id="llama-image">
      <div class="llama-img">
      <img :src="image" />
      </div>
    </div>
  
    <div id="myApp">
      <h1>{{message}}</h1>
        <p v-if="llamasAreCute!==true">Llamas are NOT cute</p>
        <p v-else="llamasAreCute==true">Llamas are REALLY cute!</p>
    </div>

    <!--v-for directive can be used for displaying a list of items using the data from an Array-->
    <div id="llama-ol">
      <ol>
          <li v-for="fact in llamaFacts">
            {{ fact.text }}
          </li>
      </ol>
    </div>
    <div class="bonus">
    <div id="bonus-llama">
      <button v-on:click="show = !show">
        Bonus Llama Fact!
      </button>

      <transition name="fade">
         <p v-if = "show">Llamas have very long eyelashes & three eyelids. Their eyes are designed with special sunshades built in, that look like a curtain of ruffles hanging in the eyeball, and close like Venetian blinds when needed.</p>
      </transition>
    </div>
    </div>

    <!-- v-model directive- 2-way bind between form input and app-->
    <div id="llamaMessage">
      <p> Write a message to a Llama here:</p>
      <p>{{ message }}</p>
      <input v-model="message">
    </div>
</div><!--.page-content -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="llama.js"></script>
  
  </body>
</html>