/*10.2 Styles */
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.track-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.track {
    width: 144px; 
    border: 3px solid black;
    background: #F5F7FA;
    background: #ccc;
    background: #711868;
    background: #861773;
    background: #eee;
    text-align: center;
    padding: 10px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 10px; 
}
.track h3 {
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.track img{
    width: 100%;
    max-width: 53px;
}
.track.no-change {
    border-color: #3498db;
}
.track.up {
    border-color: #27ae60 ;
}
.track.down {
    border-color:#e74c3c;
}
.legend{
    display: flex;
    flex-direction: row;
    width: 230px;
    margin-left: 10px;
    margin-bottom: 2em;
}
.legend > div {
  background-color: #f1f1f1;
  margin: 0px 3px;
  padding: 2px 2px;
  font-size: 10px;
}
h6 {
    margin-bottom: 5px;
    margin-left: 15px;
}